.logout-button {
  border: 2px solid black;
  padding: 0.3rem 0.5rem;
  border-radius: 0.4rem;
  background-color: black;
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 4%;
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 3%;
}

.logout-button:hover {
  background-color: white;
  color: black;
}
