.header {
    height: 15vh;
    width: 82vw;
    border-bottom: 4px solid #E1F9F4;;
    position:absolute;
    margin-top: 1vh;
    margin-left: 17vw;
}

.userid {
    float: left;
    margin-top: 4%;
    margin-left: 3%;
    color:  #B4B4C6;
}

.username {
    float: right;
    margin-right: 3%;
    margin-top: 4%;
    color:  #B4B4C6;
}