.navheading{
    position: absolute;


font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 15px;
line-height: 31px;
text-transform: uppercase;

color: #7D7D7D;
width:400px;
margin-top: 290px;
margin-left: 358px;
height: 31px;
border-radius: nullpx;

   
}

.sections{
    position: absolute;
    display: flex;
background-color: #F5F5F5;
box-shadow: 10px 14px 70px rgba(0, 0, 0, 0.03);
border-radius: 500px;
width:75vw;
height:55px;
margin-top: 430px;
margin-left: 300px;
justify-content: space-between;
}
#pd{
    position: absolute;
left: 32.31%;
color: #575555;
right: 44.19%;
top: 10.13%;
bottom: 71.2%; 


}
#gi{
    position: absolute;
    color: #575555;
left: 59.44%;
right: 25.81%;
top: 10.13%;
bottom: 71.2%;
}
#li{
    position: absolute;
left: 86.56%;
color: #575555;
right: 2.69%;
top: 10.13%;
bottom: 71.2%;
}
#bi{
    position: absolute;

left: 3.69%;
right: 10.38%;
top: 3.31%;
bottom: 71.2%;
width:150px;
height: 50px;
background: #6AB4F8;
box-shadow: 0px 13px 25px rgba(0, 0, 0, 0.15);
border-radius: 50px;
text-align: center;

}

.numbers{
    border-radius: 10px;
    background-color:#E1F9F4;
    color: #575555;
    padding: 0px 6px 0px 6px
}


