.property-view {
    display: flex;
}
  
.property-table {
    flex: 1;
    margin-top: 15%;
    margin-left: 62%;
}

.property-table thead th {
    color: rgb(200, 119, 200);
}

.searchbar {
    margin-top: 10%;
    margin-left: -78%;
}

.table_image {
    height: 20px;
    width: 25px;
}

.table_image {
    margin-left: 10px;
}