.property-view {
    display: flex;
}
  
.property-table {
    flex: 1;
    margin-top: 15%;
    margin-left: -20%;
}

.property-table thead th {
    color: rgb(200, 119, 200);
}

.header {
    height: 15vh;
    width: 82vw;
    border-bottom: 1px solid;
}

.userid {
    float: left;
    margin-top: 3%;
    margin-left: 3%;
}

.username {
    float: right;
    margin-right: 3%;
    margin-top: 3%;
}

.searchbar {
    margin-top: 10%;
    margin-left: -78%;
}

.table_image {
    height: 20px;
    width: 25px;
}

.table_image {
    margin-left: 10px;
}