@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.signup-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e0f8eb;
}

.signup-formDiv {
  padding: 1.8rem 0.8rem;
  background-color: white;
  width: 28vw;
  border-radius: 0.5rem;
}

.signup-formDiv * {
  margin: 0.8rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.signup-formDiv h1 {
  color: rgb(71, 85, 164);
}

.signup-formDiv p {
  margin-top: 2rem;
  color: #818181;
  font-size: 0.9rem;
}

input {
  padding: 0.7rem;
  width: 20vw;
  border-radius: 0.3rem;
}

#username {
  margin-top: 3rem;
  text-align: start;
  border: 2px solid #e5e1e1;
}

#email {
  text-align: start;
  border: 2px solid #e5e1e1;
  
}

#password, #cpassword {
  text-align: start;
  border: 2px solid #e5e1e1;
}

#signup-button {
  padding: 0.7rem;
  width: 22vw;
  border: none;
  border-radius: 0.3rem;
  background-color: rgb(71, 85, 164);
  color: white;
  cursor: pointer;
}

.signin-link {
  text-decoration: none;
  color: rgb(71, 85, 164);
  font-weight: bold;
}

#afterForm {
  margin-top: 1.5rem;
  font-size: 1rem;
}

input, select, textarea {
  color: #030202;
  font-weight: 500;
}
